<a href="https://colab.research.google.com/github/TiaGolyan2508/python-/blob/python1/functions%2Brecursion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#factorial of a number
def fact(n):
  n=int(input("enter a no."))
  a=1
  for i in range(2,n+1):
    a=a*i
  print(a)
fact(5)

enter a no.5
120

In [ ]:
#fibbonaci series
def fib(n):
  a=0
  b=1
  for i in range(2,n+1):
     c=a+b
     a=b
     b=c
     print(c)
fib(13)

1
2
3
5
8
13
21
34
55
89
144
233

In [ ]:
#write a function to check whether a no. is prime and even
def funn(n):
  a=0
  if (n%2==0):
    for i in range(2,a):
      (n%i==0)
    print("the number is prime as well as even")
  else:
    print("no. is not even as well as prime")
    print(n)
funn(2)

the number is prime as well as even

In [ ]:
#time complexity of recursion is very muchplus debugging is tough
def hii():
  print("hello")
hii()
hii()

hello
hello

In [ ]:
def fact_1(n):
  if(n==0 or n==1):
    return 1
  else:
    return n*fact_1(n-1)
fact_1(7)

5040

In [ ]:
def fibb(n):
  if(n==0 or n==1):
    return n
  else:
    return(fibb(n-1)+fibb(n-2))
n=int(input("enter a no. "))
for i in range(n):
  print(fibb(4))
fibb(5)

enter a no. 5
3
3
3
3
3

5

In [ ]:
f=lambda n: n**3 #using lambda function
result=f(7)
print(result)

343

In [ ]:
f=lambda a,b: a+b
c=f(11,12)
print(c)

23

In [ ]:
#inbuilt functions
#filter(function argument,iterator),map(),reduce()
def is_even(n):
  return n%2==0
  list_num=[1,2,3,4,5,6,7,10]
  t=list(filter(is_even,list_num))
  print(t)

In [ ]:
list_num=[1,2,3,4,58,10,14]
list_even=list(filter(lambda n:n%2==0,list_num ))
print(list_even)

[2, 4, 58, 10, 14]

In [ ]:
#for big data,we use filter(),map-used for updating
#map(update,iterator/values from prev o/p)
#update fun is an inbuilt fun used for passing argument
list_num=[1,2,3,4,58,10,14]
list_even=list(filter(lambda n:n%2==0,list_num ))
print(list_even)

In [ ]:
def update(n):
  return n*2
list_3=list(map(update,list_even))
print(list_3)

[4, 8, 116, 20, 28]

In [ ]:
#using lambda
list_4=list(map(lambda n:n**2,list_even))
print(list_4)

[4, 16, 3364, 100, 196]

In [ ]:
#from function tools import reduce
#reduce (fun,iterator)
from func tools import reduce
sum=reduce
return a+b
sum=reduce( )

In [ ]:
#write a program to find even and odd numbers in a list
list_numm=[1,2,55,12,35,18,19,20,26]
list_even=list(filter(lambda n:n%2==0,list_numm))
list_odd=list(filter(lambda n:n%2!=0,list_numm))
print(len(list_even))
print(len(list_odd))

5
4

In [ ]:
def count(list):
  ev=0
  od=0
  for i in list:
    if i%2==0:
      ev+=1
    else:
      od+=1
  return ev,od
even,odd=count(list_numm)
print(even,odd)

5 4

In [ ]:
#what are inner functions
def outer_function(x):
    def inner_function(y):
        return x + y
    a=inner_function(7)
    return a
t=outer_function(5)
print(t)

12

In [ ]:
#write a program to calculate roots of a quadratic eqn
import math
def calc_roots(a,b,c):
  d=b**2-4*a*c
  x=(-b+ math.sqrt(d)/(2*a))
  y=(-b- math.sqrt(d)/(2*a))
  return x,y
a=int(input("enter coeff of x square: "))
b=int(input("enter coeff of x : "))
c=int(input("enter constant term: "))
roots=calc_roots(a,b,c)
print(roots[1])
print(roots[0])

enter coeff of x square: 1
enter coeff of x : 2
enter constant term: 1
-2.0
-2.0

In [ ]:
#write a program to pass a dictionary to a function which on a particular key use the value of that person do this for 5 entries
def function(dict,key):
  value=dict.get(key)
  return(value)
p1 = {'name': 'tia', 'age': 19, 'sap_id': 500122244}
p2 = {'name': 'ashi', 'age': 17, 'sap_id': 501312423}
p3 = {'name': 'shivansh', 'age': 2, 'sap_id': 5077777}
p4 = {'name': 'kinjal', 'age': 12, 'sap_id': 5013444}
p5 = {'name': 'keshav','age': 8, 'sap_id': 5001222}
function(p1,'age')
function(p3,'name')

'shivansh'