<a href="https://colab.research.google.com/github/TiaGolyan2508/python-/blob/python1/list%2Bloops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
list_ = ['tiya','ashi','shivansh']
list1=['22','25']
print(list_)

print(list_[1])
print(list[0:2])#prints elements starting from 1st till second
print(list [1:])
print(list*1)#repeats the list
print(list+list1)

['tiya', 'ashi', 'shivansh']
ashi
['tiya', 'ashi']
['ashi', 'shivansh']
['tiya', 'ashi', 'shivansh']
['tiya', 'ashi', 'shivansh', '22', '25']

In [ ]:
names=["tiya","ashi","kinjal","keshav","shivansh"]
print(names[0])
print(names[-4])
names[2]="shivansh"
print(names)
print(names[0:3])
names.append("river")
print(names)
names.insert(0,"ashi")
names.remove("river")
print(names)
print("tiya" in names)
print(len(names))
print(names.pop())

tiya
ashi
['tiya', 'ashi', 'shivansh', 'keshav', 'shivansh']
['tiya', 'ashi', 'shivansh']
['tiya', 'ashi', 'shivansh', 'keshav', 'shivansh', 'river']
['ashi', 'tiya', 'ashi', 'shivansh', 'keshav', 'shivansh']
True
6
shivansh

In [ ]:
Tup=('a','b','c',70,1.23)
Tup2=('d',77)
print(Tup)
print(Tup[0])
print(Tup[1:3])
print(Tup[2:])
print(Tup *2)
print(Tup+Tup2)

('a', 'b', 'c', 70, 1.23)
a
('b', 'c')
('c', 70, 1.23)
('a', 'b', 'c', 70, 1.23, 'a', 'b', 'c', 70, 1.23)
('a', 'b', 'c', 70, 1.23, 'd', 77)

In [ ]:
#write a program to iterate through a string

string1="hii tiya"
for i in string1:
  print(i)

h
i
i

t
i
y
a

In [1]:
#write a propgram to print the tables starting from 2-12
a = int(input("Enter a number: "))

for i in range(1, 11):
    print(a * i)

Enter a number: 5
5
10
15
20
25
30
35
40
45
50